/* Custom scrollbar for sidebar */
aside::-webkit-scrollbar {
  width: 4px;
}

aside::-webkit-scrollbar-track {
  background: #f1f1f1;
}

aside::-webkit-scrollbar-thumb {
  background: #76b947;
  border-radius: 2px;
}

aside::-webkit-scrollbar-thumb:hover {
  background: #337b01;
}